<div class="login">
    <img src="/assets/images/logo.jpg">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" formControlName="username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" formControlName="password">
        </div>
        <div>
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
    </form>
</div>