<div class="container">

    <h2 class="mt-5">Jobs</h2>


    <div class="row">
        <div class="col-12 col-lg-9">
            <a *ngIf="hasPermissions" class="btn btn-primary" routerLink="/main/jobs/edit">Add new job</a>
            <section>
                <app-job-item *ngFor="let job of jobs" [job]="job" (deleteClicked)="onDelete($event)"></app-job-item>
            </section>
        </div>
        <div class="col-12 col-lg-3">
            <div class="banner">
                Banner 300x600
            </div>
        </div>
    </div>


</div>